<%= form_with(url: search_diaries_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :keyword, placeholder: "日記内容・英単語から検索する", class: "search-input" %>
  <%= f.submit "search", class: "search-btn" %>
<% end %>

<div class="contents row">
  <% @diaries.each do |diary| %>
    <li class="list">
      <%= link_to diary_path(diary.id) do %>
        <%= image_tag diary.image.variant(resize: '388x260'), class:'diary-image' if diary.image.attached? %>
        <h2><%= diary.title %></h2>
        <span class="name">
          <a href="/users/<%= diary.user.id %>">
            <td><%= l diary.created_at, format: :default %></td>
            <span>   PostBy: </span><%= diary.user.nickname %>
          </a>
        </span>
      <% end %>
    </li>
  <% end %>
</div>